<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Natous</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Your benfits</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular tours</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Book now</a></li>
        </ul>
    </nav>
</div>
<header class="header">
    <div class="header__logo-box">
        <img src="../assets/img/logo-white.png" class="header__logo" alt="logo">
    </div>
    <div class="header__text-box">
        <h1 class="heading-text">
            <span class="heading-text--first">outdoors</span>
            <span class="heading-text--secound">is where life happens</span>
        </h1>
        <a href="#" class="btn btn--white">discover us</a>
    </div>
</header>