@import '../scss/abstracts/variables';
@import '../scss/base/grid';
@import '../scss/base/text';
@import '../scss/base/utility';

.footer {
    background-color: $gray-black;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $gray-light-1;


    @include responsive(sm-phone) {
        padding: 8rem 0;
        height: 60rem;
        text-align: center;
    }

    @include responsive(phone) {
        padding: 8rem 0;
        height: 60rem;
        text-align: center;
    }

    @include responsive(sm-tab) {
        padding: 8rem 0;
        height: 60rem;
        text-align: center;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include responsive(sm-phone) {
            margin-bottom: 6rem;
        }

        @include responsive(phone) {
            margin-bottom: 6rem;
        }

        @include responsive(sm-tab) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $gray-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            background-color: $gray-black;
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            color: $green-light;
            box-shadow: 0 1rem 2rem rgba($black, 0.5);
            transform: rotate(5deg) scale(1.2);
        }
    }

    &__copyright {
        border-top: 1px solid $gray-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include responsive(sm-phone) {
            float: none;
            width: 80%;

        }

        @include responsive(phone) {
            float: none;
            width: 80%;
        }

        @include responsive(sm-tab) {
            float: none;
            width: 80%;
        }


    }

    &__navigation {
        border-top: 1px solid $gray-dark;
        padding-top: 2rem;
        display: inline-block;

        @include responsive(sm-phone) {
            width: 80%;
            text-align: center;
        }

        @include responsive(phone) {
            width: 80%;
            text-align: center;
        }

        @include responsive(sm-tab) {
            width: 80%;
            text-align: center;
        }
    }

    &__copy--box {
        @include responsive(sm-phone) {
            display: flex;
            justify-content: center;
        }

        @include responsive(phone) {
            display: flex;
            justify-content: center;
        }

        @include responsive(sm-tab) {
            display: flex;
            justify-content: center;
        }
    }
}