<section class="features-section">
    <div class="row">
        <div class="row__1of4">
            <div class="features-box">
                <i class="features-box__icon m-b-15 fa fa-globe"></i>
                <h3 class="small-heading m-b-15">Explore the world</h3>
                <p class="features-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Suscipit voluptatem iusto quos dignissimos</p>
            </div>
        </div>
        <div class="row__1of4">
            <div class="features-box">
                <i class="features-box__icon m-b-15 fa fa-compass fa-rotate-90"></i>
                <h3 class="small-heading m-b-15">Meet nature</h3>
                <p class="features-box__text"> ipsum dolor, sit amet consectetur adipisicing elit.
                    Suscipit voluptatem iusto quos dignissimos</p>
            </div>
        </div>
        <div class="row__1of4">
            <div class="features-box">
                <i class="features-box__icon m-b-15 fa fa-map-o"></i>
                <h3 class="small-heading m-b-15">Find your way</h3>
                <p class="features-box__text">sit amet consectetur adipisicing elit.
                    Suscipit voluptatem iusto quos dignissimos</p>
            </div>
        </div>
        <div class="row__1of4">
            <div class="features-box">
                <i class="features-box__icon m-b-15 fa fa-heartbeat"></i>
                <h3 class="small-heading m-b-15">Live a healthier life</h3>
                <p class="features-box__text">dignissimos ipsum dolor, sit amet consectetur adipisicing elit.
                    Suscipit voluptatem iusto quos dignissimos</p>
            </div>
        </div>
    </div>
</section>