@import '../scss/abstracts/variables';
@import '../scss/base/grid';
@import '../scss/base/utility';
@import '../scss/base/text';
@import '../scss/base/btn';

.section-about {
    background-color: $gray-light-1;
    padding-top: 25rem;
    padding-bottom: 15rem;
    margin-top: -20vh;
    overflow: auto;
}

.paragraph {
    font-size: $master-font-size;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.composition {
    position: relative;

    &__photo {
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
        border-radius: 2px;
        z-index: 1;
        outline-offset: 1rem;
        transition: all 0.3s;

        &--1 {
            left: 0;
            top: -2rem;
        }

        &--2 {
            right: 0;
            top: 2rem;
        }

        &--3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.1) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($black, 0.5);
            z-index: 2;
            outline: 0.5rem solid $green-dark;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}