//fonts
$master-font-size:1.6rem;
// all colors
$green-light:#7ed56f;
$green-dark:#28b485;
$gray-dark:#777;
$gray-light:#eee;
$white:#fff;
$black:#000;
$gray-light-1:#f7f7f7;
$orange-light:#ffb900;
$orange-dark:#ff7730;
$blue-light:#2998ff;
$blue-dark:#5643fa;
//grid
$width:114rem;
$spaces:6rem;