//fonts
$master-font-size:1.6rem;
$phone-font-size:1.4rem;
$sm-tab-font-size:1.5rem;
$lg-tab-font-size:1.5rem;
// all colors
$green-light:#7ed56f;
$green-dark:#28b485;
$gray-dark:#777;
$gray-darker:#999;
$gray-black:#333;
$gray-black-1:#555;
$gray-light:#eee;
$gray-light-1:#f7f7f7;
$white:#fff;
$black:#000;
$orange-light:#ffb900;
$orange-dark:#ff7730;
$blue-light:#2998ff;
$blue-dark:#5643fa;
$tomato:tomato;
//grid
$width:114rem;
$spaces:6rem;