<body>
    <div class="container">
        <header class="header">
            <img src="../assets/img/logo.png" alt="logo" class="logo">
            <form action="#" class="search">
                <input type="text" placeholder="search" class="search__input">
                <button class="search__btn">
                    <svg class="search__icon">
                        <use xlink:href="../assets/img/sprite.svg#icon-magnifying-glass"></use>
                    </svg>
                </button>
            </form>
            <div class="user">
                <div class="user__icon-group">
                    <svg class="user__icon">
                        <use xlink:href="../assets/img/sprite.svg#icon-bookmark"></use>
                    </svg>
                    <span class="user__notification">5</span>
                </div>
                <div class="user__icon-group">
                    <svg class="user__icon">
                        <use xlink:href="../assets/img/sprite.svg#icon-chat"></use>
                    </svg>
                    <span class="user__notification">11</span>
                </div>
                <div class="user__info">
                    <img src="../assets/img/user-4.jpg" alt="user" class="user__img">
                    <span class="user__name">ibrahem</span>
                </div>
            </div>
        </header>
        <div class="content">
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav__item nav__item--active">
                        <a href="#" class="nav__link">
                            <svg class="nav__icon">
                                <use xlink:href="../assets/img/sprite.svg#icon-home"></use>
                            </svg>
                            <span>hotel</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <svg class="nav__icon">
                                <use xlink:href="../assets/img/sprite.svg#icon-aircraft-take-off"></use>
                            </svg>
                            <span>flight</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <svg class="nav__icon">
                                <use xlink:href="../assets/img/sprite.svg#icon-key"></use>
                            </svg>
                            <span>car rental</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <svg class="nav__icon">
                                <use xlink:href="../assets/img/sprite.svg#icon-map"></use>
                            </svg>
                            <span>tours</span>
                        </a>
                    </li>
                </ul>
                <div class="nav__legal">&copy; by ibrahem. all rights reserved</div>
            </nav>
            <div class="hotel-info">
                <div class="gallery">
                    <figure class="gallery__item">
                        <img src="../assets/img/hotel-2.jpg" alt="hotel photo" class="gallery__photo">
                    </figure>
                    <figure class="gallery__item">
                        <img src="../assets/img/hotel-3.jpg" alt="hotel photo" class="gallery__photo">
                    </figure>
                    <figure class="gallery__item">
                        <img src="../assets/img/hotel-1.jpg" alt="hotel photo" class="gallery__photo">
                    </figure>
                </div>
                <div class="overview">
                    <h1 class="overview__header">meraland hotel</h1>
                    <div class="overview__stars">
                        <svg class="overview__icon-stars">
                            <use xlink:href="../assets/img/sprite.svg#icon-star"></use>
                        </svg>
                        <svg class="overview__icon-stars">
                            <use xlink:href="../assets/img/sprite.svg#icon-star"></use>
                        </svg>
                        <svg class="overview__icon-stars">
                            <use xlink:href="../assets/img/sprite.svg#icon-star"></use>
                        </svg>
                        <svg class="overview__icon-stars">
                            <use xlink:href="../assets/img/sprite.svg#icon-star"></use>
                        </svg>
                        <svg class="overview__icon-stars">
                            <use xlink:href="../assets/img/sprite.svg#icon-star"></use>
                        </svg>
                    </div>
                    <div class="overview__location">
                        <svg class="overview__icon-location">
                            <use xlink:href="../assets/img/sprite.svg#icon-location-pin"></use>
                        </svg>
                        <button class="small-btn">Cairo, Egypt</button>
                    </div>
                    <div class="overview__rating">
                        <div class="overview__rating-avg">9.1</div>
                        <div class="overview__rating-votes">217 votes</div>
                    </div>
                </div>
                <div class="detail">
                    <div class="description">
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis
                            ratione
                            sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto
                            voluptate.
                        </p>
                        <p class="paragraph">
                            Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
                            inventore iure aliquid aliquam.
                        </p>
                        <ul class="list">
                            <li class="list__items">perfect for family</li>
                            <li class="list__items">speek comman lanugages</li>
                            <li class="list__items">free wifi</li>
                            <li class="list__items">pets allowed</li>
                            <li class="list__items">free airport shuttle</li>
                            <li class="list__items">close to the beach</li>
                            <li class="list__items">breakfast included</li>
                            <li class="list__items">air conditioning and heating</li>
                        </ul>
                        <div class="recommend">
                            <p class="recommend__count">Ali and 3 other friends recommend this hotel</p>
                            <div class="recommend__friends">
                                <img src="../assets/img/user-6.jpg" alt="photo" class="recommend__photo">
                                <img src="../assets/img/user-5.jpg" alt="photo" class="recommend__photo">
                                <img src="../assets/img/user-3.jpg" alt="photo" class="recommend__photo">
                                <img src="../assets/img/user-2.jpg" alt="photo" class="recommend__photo">
                            </div>
                        </div>
                    </div>
                    <figure class="review">
                        <figure class="users-review">
                            <blockquote class="users-review__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto
                                dicta
                                animi, totam, itaque officia ex.
                            </blockquote>
                            <figcaption class="users-review__user">
                                <img src="../assets/img/user-1.jpg" alt="user photo" class="users-review__photo">
                                <div class="users-review__info">
                                    <p class="users-review__name">mark smith</p>
                                    <p class="users-review__date">sept 12th, 2018</p>
                                </div>
                                <div class="users-review__rating">8.9</div>
                            </figcaption>
                        </figure>
                        <figure class="users-review">
                            <blockquote class="users-review__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto
                                dicta
                                animi.
                            </blockquote>
                            <figcaption class="users-review__user">
                                <img src="../assets/img/user-2.jpg" alt="user photo" class="users-review__photo">
                                <div class="users-review__info">
                                    <p class="users-review__name">mary jones</p>
                                    <p class="users-review__date">sept 12th, 2018</p>
                                </div>
                                <div class="users-review__rating">7.4</div>
                            </figcaption>
                        </figure>
                        <button class="small-btn">show more <span>&rarr;</span></button>
                    </figure>
                </div>
                <div class="cta">
                    <h2 class="cta__header">good we have some free rooms for you</h2>
                    <button class="btn">
                        <span class="btn__invisible">just 4 room free</span>
                        <span class="btn__visible">buy now</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>