<section class="book_section">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <form action="#" class="form">
                    <div class="m-b-4">
                        <h2 class="heading-secound">
                            Start now
                        </h2>
                    </div>
                    <div class="form__group">
                        <input type="text" class="form__input" placeholder="full name" id="name" required>
                        <label for="name" class="form__label">full name</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" placeholder="email" id="email" required>
                        <label for="email" class="form__label">email</label>
                    </div>
                    <div class="form__group">
                        <button class="btn btn--green">next step &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>