<!-- <header>
    <div class="container">
        <nav class="navbar">
            <ul class="nav-items">
                <a href="#contact">
                    <li>Contact</li>
                </a>
                <div class="logo">
                    <a href="#about">
                        <h1>Ibrahem</h1>
                    </a>
                    <a href="#about">
                        <h1>Reiad</h1>
                    </a>
                </div>
                <a href="#projects">
                    <li> Projects</li>
                </a>
            </ul>
        </nav>
        <div class="main-info">
            <div class="text" data-aos="fade-right">
                <h1>
                    <span>H</span>
                    <span class="anime-span">i</span>
                    <span class="anime-span">,</span>
                    <br>
                    <span>I</span>
                    <span class="anime-span">'</span>
                    <span class="anime-span">m</span>
                    <span class="name start">I</span>
                    <span class="anime-span name">b</span>
                    <span class="anime-span name">r</span>
                    <span class="anime-span name">a</span>
                    <span class="anime-span name">h</span>
                    <span class="anime-span name">e</span>
                    <span class="anime-span name">m</span>
                    <span class="anime-span">,</span>
                    <br>
                    <span>W</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">b</span>
                    <span class="start">D</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">v</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">l</span>
                    <span class="anime-span">o</span>
                    <span class="anime-span">p</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">r</span>
                </h1>
            </div>
            <img data-aos="fade-left" class="img-info" src="../../assets/img/portfolio/433.JPG" alt="my photo">
        </div>
    </div>

</header>
<section id="about" class="my-info container">
    <h1 class="about">About</h1>
    <div class="summary">
        <h1 class="summary-heading">summary</h1>
        <p>My name is ibrahem reiad i'am search for a challenging position with a creative work environment to
            enhance
            expertise in Web development and Application Design and Make benefit
            of the company and contributing in my organization's
            success and future growth.</p>
        <h1 class="summary-heading">skills</h1>

        <ul class="skils-list">
            <li class="skils-item"><img src="../../assets/img/icon/icons8-mind-map-50.png" alt="p"> Problem Solving.
            </li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-time-machine-50.png" alt="p"> Time
                Management Skills.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-trust-50.png" alt="p"> Self
                Confidence.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-chat-50.png" alt="p"> Communication
                Skils.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-bar-chart-50.png" alt="p"> Analytical
                Ability.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-track-and-field-50.png" alt="p">
                Competitive Spirit.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-work-50.png" alt="p"> Ability to Work
                Independently.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-target-50.png" alt="p"> Decisiveness.
            </li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-tape-measure-50.png" alt="p">
                Flexibility.</li>
        </ul>
        <a href="../../assets/img/portfolio/Ibrahem-reaid-aladly.pdf" download="Ibrahem-reaid-cv" class="cv">Download
            CV</a>
    </div>
</section>
<section id="projects" class="projects container">
    <h1>projects</h1>
    <div class="projects-info">
        <img src="../../assets/img/portfolio/roket.png" class="roket" alt="roket">
        <img src="../../assets/img/portfolio/dotted.png" class="dotted" alt="dotted">
        <img src="../../assets/img/portfolio/end-roket.png" class="end-roket" alt="end-roket">
        <div class="one-project">
            <div class="project-data">
                <h2 class="project-heading">project 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur sed praesentium, sequi rerum
                    culpa delectus hic fuga corporis harum dolorum consequatur a rem. Quas temporibus vitae
                    asperiores harum eaque?</p>
                <button (click)="projectOne()" class="project-btn">view project</button>
            </div>
            <img data-aos="zoom-in-left" class="Project-photo" src="../../assets/img/portfolio/SItes1.png"
                alt="Project-photo">
        </div>
        <div class="two-project">
            <div class="project-data">
                <h2 class="project-heading">project 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur sed praesentium, sequi rerum
                    culpa delectus hic fuga corporis harum dolorum consequatur a rem. Quas temporibus vitae
                    asperiores harum eaque?</p>
                <button (click)="projectTwo()" class="project-btn">view project</button>
            </div>
            <img data-aos="zoom-in-right" class="Project-photo" src="../../assets/img/portfolio/SItes2.png"
                alt="Project-photo">
        </div>
        <div class="three-project">
            <div class="project-data">
                <h2 class="project-heading">project 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur sed praesentium, sequi rerum
                    culpa delectus hic fuga corporis harum dolorum consequatur a rem. Quas temporibus vitae
                    asperiores harum eaque?</p>
                <button (click)="projectThree()" class=" project-btn">view project</button>
            </div>
            <img data-aos="zoom-in-left" class="Project-photo" src="../../assets/img/portfolio/SItes3.png"
                alt="Project-photo">
        </div>
    </div>
</section>

<footer id="contact">
    <h1>Contact</h1>
    <div class="contact">
        <div>
            <a href="mailto:ibrahem.reiad@gmail.com"><img src="../../assets/img/icon/icons8-gmail-100 (1).png"
                    alt="gmail"></a>
            <a href="tel:+201116034407"><img src="../../assets/img/icon/icons8-phone-100.png" alt="mobile"></a>
            <a href="https://www.linkedin.com/in/ibrahem-reiad-5156b11a0" target="_blank"><img
                    src="../../assets/img/icon/icons8-linkedin-100.png" alt="linkedin"></a>
            <a href="https://www.github.com/ibrahemreiad122" target="_blank"><img
                    src="../../assets/img/icon/icons8-github-100.png" alt="github"></a>
        </div>
        <div class="footer-text">All &copy; right by Ibrahem Reiad {{date |date: "yyyy"}}.</div>

    </div>
</footer> -->
<div class="container">
    <div class="nav">
        <img class="myLogo" src="../../assets/img/portfolio data/logo.png" alt="logo">
        <span class="navLinks">
            <a class="links" href="#work">Work</a>
            <a class="links" href="#about">About</a>
            <a class="links" href="#contact">Contact</a>
        </span>
    </div>
    <div class="landPage">
        <div class="myInfo">
            <span class="helloMsg">Hi, I'm</span>
            <h1 class="name">Ibrahem Reiad</h1>
            <span class="ux">UX</span>
            <span class="ui">UI</span>
            <span class="designer">Designer</span>
            <p class="info">Junior ux/ui designer care about the details, eager to make a positive impact with team and
                can work with marketing and development teams to achieve our plans and goals.</p>
            <a class="cv" download="Ibrahem-reaid-cv" href="../../assets/img/portfolio/Ibrahem-reaid-aladly.pdf">
                <button class="btn btn--cv">Download CV</button>
            </a>
            <a class="hire" href="mailto:ibrahem.reiad@gmail.com">
                <button class="btn btn--hire">

                    Hire Me</button>
            </a>
        </div>
        <div>
            <img class="myPhoto" src="../../assets/img/portfolio data/my photo.png" alt="">
        </div>
    </div>
    <div class="work">
        <div class="work-word">Work</div>
        <div class="workCards">
            <div class="card">
                <img class="cardPhoto" src="../../assets/img/portfolio data/midecal home/home--1@2x.png"
                    alt="Owle land Page">
                <h1 class="cardHeader">Owle</h1>
                <p class="cardParagraph">it's a platform to help small business to generate E-commerce with a lot of
                    functions to help users in customization.</p>
                <div class="btns">
                    <button class="cardBtn cardBtn-1">More Info</button>
                    <button class="cardBtn cardBtn-2">See Demo</button></div>
            </div>
            <div class="card">
                <img class="cardPhoto" src="../../assets/img/portfolio data/midecal home/home--1@2x.png"
                    alt="Owle land Page">
                <h1 class="cardHeader">Owle</h1>
                <p class="cardParagraph">it's a platform to help small business to generate E-commerce with a lot of
                    functions to help users in customization.</p>
                <div class="btns"> <button class="cardBtn cardBtn-1">More Info</button>
                    <button class="cardBtn cardBtn-2">See Demo</button></div>
            </div>
            <div class="card">
                <img class="cardPhoto" src="../../assets/img/portfolio data/midecal home/home--1@2x.png"
                    alt="Owle land Page">
                <h1 class="cardHeader">Owle</h1>
                <p class="cardParagraph">it's a platform to help small business to generate E-commerce with a lot of
                    functions to help users in customization.</p>
                <div class="btns"> <button class="cardBtn cardBtn-1">More Info</button>
                    <button class="cardBtn cardBtn-2">See Demo</button></div>
            </div>
            <div class="card">
                <img class="cardPhoto" src="../../assets/img/portfolio data/midecal home/home--1@2x.png"
                    alt="Owle land Page">
                <h1 class="cardHeader">Owle</h1>
                <p class="cardParagraph">it's a platform to help small business to generate E-commerce with a lot of
                    functions to help users in customization.</p>
                <div class="btns"> <button class="cardBtn cardBtn-1">More Info</button>
                    <button class="cardBtn cardBtn-2">See Demo</button></div>
            </div>
        </div>
    </div>
    <div class="load"><button class="cardBtn cardBtn-1 loadBtn">Load More</button></div>
    <div class="work-word">summary</div>
    <div class="about">
        <div class="summary">
            <p>Hi there I'm search for a challenging position with a creative work environment to enhance expertise in
                UX / UI, make benefit of the company and contributing in my organization's success and future growth.
            </p>
            <p>I
                collaborate with passionate people and companies to create products and services that have exceptional
                user experience. most recently.</p>
            <p>I have a good communication skills and my own ability to persuade and
                solve problems and tech skills like adobe Xd, Jira, Balsamiq, Figma, slack, etc.</p>
        </div>
        <div>
            <img class="logo-2" src="../../assets/img/portfolio data/Group 97@2x.png" alt="logo">
        </div>
    </div>
    <footer>
        <p class="copyRight">All right reserved copyright © 2020</p>
        <div class="contact">
            <a href="tel:+201116034407">
                <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="11.966" height="11.966"
                    viewBox="0 0 11.966 11.966">
                    <path id="Icon_metro-phone" data-name="Icon metro-phone"
                        d="M11.346,11.036c-.8.8-.8,1.6-1.6,1.6s-1.6-.8-2.393-1.6-1.6-1.6-1.6-2.393.8-.8,1.6-1.6-1.6-3.191-2.393-3.191S2.571,6.249,2.571,6.249c0,1.6,1.639,4.83,3.191,6.382s4.786,3.191,6.382,3.191c0,0,2.393-1.6,2.393-2.393S12.143,10.238,11.346,11.036Z"
                        transform="translate(-2.571 -3.856)" opacity="0.4" />
                </svg>

            </a>
            <a href="mailto:ibrahem.reiad@gmail.com">
                <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="14.95" height="11.96"
                    viewBox="0 0 14.95 11.96">
                    <path id="Icon_material-email" data-name="Icon material-email"
                        d="M16.455,6H4.5A1.493,1.493,0,0,0,3.007,7.5L3,16.465a1.5,1.5,0,0,0,1.5,1.5h11.96a1.5,1.5,0,0,0,1.5-1.5V7.5A1.5,1.5,0,0,0,16.455,6Zm0,2.99-5.98,3.738L4.5,8.99V7.5l5.98,3.738L16.455,7.5Z"
                        transform="translate(-3 -6)" opacity="0.4" />
                </svg>

            </a>
            <a href="https://www.linkedin.com/in/ibrahem-reiad-5156b11a0" target="_blank">
                <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="11.962" height="11.962"
                    viewBox="0 0 11.962 11.962">
                    <path id="Icon_awesome-linkedin-in" data-name="Icon awesome-linkedin-in"
                        d="M2.678,11.963H.2V3.976h2.48ZM1.436,2.887a1.443,1.443,0,1,1,1.436-1.45A1.448,1.448,0,0,1,1.436,2.887Zm10.523,9.076H9.485V8.075c0-.927-.019-2.115-1.289-2.115-1.289,0-1.487,1.007-1.487,2.048v3.954H4.231V3.976H6.61V5.066h.035a2.606,2.606,0,0,1,2.347-1.29c2.51,0,2.971,1.653,2.971,3.8v4.387Z"
                        transform="translate(0 -0.001)" opacity="0.4" />
                </svg>

            </a>
            <a href="https://www.facebook.com/ibrahem.aladly" target="_blank">
                <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="6.424" height="11.995"
                    viewBox="0 0 6.424 11.995">
                    <path id="Icon_awesome-facebook-f" data-name="Icon awesome-facebook-f"
                        d="M7.613,6.747l.333-2.171H5.863V3.168A1.085,1.085,0,0,1,7.087,1.995h.947V.147A11.548,11.548,0,0,0,6.353,0,2.65,2.65,0,0,0,3.516,2.922V4.576H1.609V6.747H3.516V12H5.863V6.747Z"
                        transform="translate(-1.609)" opacity="0.4" />
                </svg>

            </a>
        </div>
    </footer>
</div>