<header>
    <div class="container">
        <nav class="navbar">
            <ul class="nav-items">
                <a href="#contact">
                    <li>Contact</li>
                </a>
                <div class="logo">
                    <a href="#about">
                        <h1>Ibrahem</h1>
                    </a>
                    <a href="#about">
                        <h1>Reiad</h1>
                    </a>
                </div>
                <a href="#projects">
                    <li> Projects</li>
                </a>
            </ul>
        </nav>
        <div class="main-info">
            <div class="text" data-aos="fade-right">
                <h1>
                    <span>H</span>
                    <span class="anime-span">i</span>
                    <span class="anime-span">,</span>
                    <br>
                    <span>I</span>
                    <span class="anime-span">'</span>
                    <span class="anime-span">m</span>
                    <span class="name start">I</span>
                    <span class="anime-span name">b</span>
                    <span class="anime-span name">r</span>
                    <span class="anime-span name">a</span>
                    <span class="anime-span name">h</span>
                    <span class="anime-span name">e</span>
                    <span class="anime-span name">m</span>
                    <span class="anime-span">,</span>
                    <br>
                    <span>W</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">b</span>
                    <span class="start">D</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">v</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">l</span>
                    <span class="anime-span">o</span>
                    <span class="anime-span">p</span>
                    <span class="anime-span">e</span>
                    <span class="anime-span">r</span>
                </h1>
            </div>
            <img data-aos="fade-left" class="img-info" src="../../assets/img/portfolio/433.JPG" alt="my photo">
        </div>
    </div>

</header>
<section id="about" class="my-info container">
    <h1 class="about">About</h1>
    <div class="summary">
        <h1 class="summary-heading">summary</h1>
        <p>My name is ibrahem reiad i'am search for a challenging position with a creative work environment to
            enhance
            expertise in Web development and Application Design and Make benefit
            of the company and contributing in my organization's
            success and future growth.</p>
        <h1 class="summary-heading">skils</h1>

        <ul class="skils-list">
            <li class="skils-item"><img src="../../assets/img/icon/icons8-mind-map-50.png" alt="p"> Problem Solving.
            </li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-time-machine-50.png" alt="p"> Time
                Management Skills.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-trust-50.png" alt="p"> Self
                Confidence.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-chat-50.png" alt="p"> Communication
                Skils.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-bar-chart-50.png" alt="p"> Analytical
                Ability.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-track-and-field-50.png" alt="p">
                Competitive Spirit.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-work-50.png" alt="p"> Ability to Work
                Independently.</li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-target-50.png" alt="p"> Decisiveness.
            </li>
            <li class="skils-item"><img src="../../assets/img/icon/icons8-tape-measure-50.png" alt="p">
                Flexibility.</li>
        </ul>
        <a href="../../assets/img/portfolio/Ibrahem-reaid-aladly.pdf" download="Ibrahem-reaid-cv" class="cv">Download
            CV</a>
    </div>
</section>
<section id="projects" class="projects container">
    <h1>projects</h1>
    <div class="projects-info">
        <img src="../../assets/img/portfolio/roket.png" class="roket" alt="roket">
        <img src="../../assets/img/portfolio/dotted.png" class="dotted" alt="dotted">
        <img src="../../assets/img/portfolio/end-roket.png" class="end-roket" alt="end-roket">
        <div class="one-project">
            <div class="project-data">
                <h2 class="project-heading">project 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur sed praesentium, sequi rerum
                    culpa delectus hic fuga corporis harum dolorum consequatur a rem. Quas temporibus vitae
                    asperiores harum eaque?</p>
                <button (click)="projectOne()" class="project-btn">view project</button>
            </div>
            <img data-aos="zoom-in-left" class="Project-photo" src="../../assets/img/portfolio/SItes1.png"
                alt="Project-photo">
        </div>
        <div class="two-project">
            <div class="project-data">
                <h2 class="project-heading">project 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur sed praesentium, sequi rerum
                    culpa delectus hic fuga corporis harum dolorum consequatur a rem. Quas temporibus vitae
                    asperiores harum eaque?</p>
                <button (click)="projectTwo()" class="project-btn">view project</button>
            </div>
            <img data-aos="zoom-in-right" class="Project-photo" src="../../assets/img/portfolio/SItes2.png"
                alt="Project-photo">
        </div>
        <div class="three-project">
            <div class="project-data">
                <h2 class="project-heading">project 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur sed praesentium, sequi rerum
                    culpa delectus hic fuga corporis harum dolorum consequatur a rem. Quas temporibus vitae
                    asperiores harum eaque?</p>
                <button (click)="projectThree()" class=" project-btn">view project</button>
            </div>
            <img data-aos="zoom-in-left" class="Project-photo" src="../../assets/img/portfolio/SItes3.png"
                alt="Project-photo">
        </div>
    </div>
    <h1>Contact</h1>
</section>
<footer id="contact">
    <div class="contact">
        <div>
            <a href="mailto:ibrahem.reiad@gmail.com"><img src="../../assets/img/icon/icons8-gmail-100 (1).png"
                    alt="gmail"></a>
            <a href="tel:+201116034407"><img src="../../assets/img/icon/icons8-phone-100.png" alt="mobile"></a>
            <a href="https://www.linkedin.com/in/ibrahem-reiad-5156b11a0" target="_blank"><img
                    src="../../assets/img/icon/icons8-linkedin-100.png" alt="linkedin"></a>
            <a href="https://www.github.com/ibrahemreiad122" target="_blank"><img
                    src="../../assets/img/icon/icons8-github-100.png" alt="github"></a>
        </div>
        <div class="footer-text">all &copy; right by Ibrahem Reiad 2020</div>

    </div>
</footer>