<header class="header">
  <div class="header__logo-box">
    <img src="../assets/img/logo-white.png" class="header__logo" alt="logo">
  </div>
  <div class="header__text-box">
    <h1 class="heading-text">
      <span class="heading-text--first">outdoors</span>
      <span class="heading-text--secound">is where life happens</span>
    </h1>
    <a href="#" class="btn btn--header">discover us</a>
  </div>
</header>
<!-- <div class="row">
  <div class="row__1of2">hello from one</div>
  <div class="row__1of2">hello from two</div>
</div>
<div class="row">
  <div class="row__1of3">hello from one</div>
  <div class="row__1of3">hello from two</div>
  <div class="row__1of3">hello from three</div>
</div>
<div class="row">
  <div class="row__1of4">hello from one</div>
  <div class="row__1of4">hello from two</div>
  <div class="row__1of4">hello from three</div>
  <div class="row__1of4">hello from four</div>
</div>
<div class="row">
  <div class="row__1of4">hello from one</div>
  <div class="row__1of4">hello from two</div>
  <div class="row__2of4">hello from three</div>
</div>
<div class="row">
  <div class="row__1of4">hello from one</div>
  <div class="row__3of4">hello from two</div>
</div>
<div class="row">
  <div class="row__1of3">hello from one</div>
  <div class="row__2of3">hello from two</div>
</div> -->