<router-outlet></router-outlet>
<!-- <a target="_blank" routerLink="hotel" routerLinkActive="active">open hotel</a>
<router-outlet></router-outlet> -->
<!-- <div class="row">
  <div class="row__1of2">hello from one</div>
  <div class="row__1of2">hello from two</div>
</div>
<div class="row">
  <div class="row__1of3">hello from one</div>
  <div class="row__1of3">hello from two</div>
  <div class="row__1of3">hello from three</div>
</div>
<div class="row">
  <div class="row__1of4">hello from one</div>
  <div class="row__1of4">hello from two</div>
  <div class="row__1of4">hello from three</div>
  <div class="row__1of4">hello from four</div>
</div>
<div class="row">
  <div class="row__1of4">hello from one</div>
  <div class="row__1of4">hello from two</div>
  <div class="row__2of4">hello from three</div>
</div>
<div class="row">
  <div class="row__1of4">hello from one</div>
  <div class="row__3of4">hello from two</div>
</div>
<div class="row">
  <div class="row__1of3">hello from one</div>
  <div class="row__2of3">hello from two</div>
</div> -->