@import '../abstracts/mixins';

.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.2rem 3rem;
        border-radius: 10rem;
        display: inline-block;
        transition: all 0.4s;
        backface-visibility: hidden;
        position: relative;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;

        @include responsive(phone) {
            font-size: 1.2rem;
            padding: 1rem 2.5rem;
        }

        @include responsive(sm-tab) {
            font-size: 1.4rem;
            padding: 1.1rem 2.7rem;
        }

    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 1.5rem rgba($black, 0.3);

        &::after {
            opacity: 0;
            transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active,
    :focus {
        transform: translateY(-0.1rem);
        //outline: none;
        box-shadow: 0 0.5rem 1rem rgba($black, 0.3);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        top: 0;
        left: 0;
        position: absolute;
        transition: all 0.4s;
        z-index: -1;
    }

    &--white {
        color: $gray-dark;
        background-color: $white;
        animation: move-bottom 1s ease;

        &::after {
            background-color: $white;
        }
    }

    &--green {
        color: $white;
        background-color: $green-light;
        animation: move-bottom 1s ease;

        &::after {
            background-color: $green-light;
        }
    }
}

.btn--text {

    &:link,
    &:visited {
        font-size: $master-font-size;
        text-decoration: none;
        color: $green-dark;
        display: inline-block;
        border-bottom: 1px solid $green-dark;
        padding: 3px;
        transition: all 0.3s;

        @include responsive(phone) {
            font-size: 1rem;
            padding: 1rem 2.5rem;
        }

        @include responsive(sm-tab) {
            font-size: 1.2rem;
            padding: 1rem 2.5rem;
        }
    }

    &:hover {
        background-color: $green-dark;
        color: $white;
        box-shadow: 0 1rem 2rem rgba($black, 0.2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
        transform: translateY(0);
    }
}