<div class="container">
    <nav class="navbar">
        <button class="navbar__btn"></button>
    </nav>
    <div class="header">
        <img src="../../assets/img/nexter/logo.png" alt="logo" class="header__logo">
        <h3 class="heading-3">Your own home:</h3>
        <h1 class="heading-1">The ultimate personal freedom</h1>
        <button class="btn header__btn">View our properties</button>
        <div class="header__seenon--text">seen on</div>
        <div class="header__seenon--logos">
            <img src="../../assets/img/nexter/logo-bbc.png" alt="photo">
            <img src="../../assets/img/nexter/logo-bi.png" alt="photo">
            <img src="../../assets/img/nexter/logo-techcrunch.png" alt="photo">
            <img src="../../assets/img/nexter/logo-forbes.png" alt="photo">
        </div>
    </div>
    <div class="real-tors">
        <h3 class="heading-3">Top 3 realtors</h3>
        <div class="real-tors__list">
            <img src="../../assets/img/nexter/realtor-1.jpeg" alt="photo" class="real-tors__img">
            <div class="real-tors__details">
                <h4 class="heading-4 heading-4--light">Erik Feinman</h4>
                <p class="real-tors__details--sold">245 house sold</p>
            </div>
            <img src="../../assets/img/nexter/realtor-2.jpeg" alt="photo" class="real-tors__img">
            <div class="real-tors__details">
                <h4 class="heading-4 heading-4--light">Kim Brown</h4>
                <p class="real-tors__details--sold">158 house sold</p>
            </div>
            <img src="../../assets/img/nexter/realtor-3.jpeg" alt="photo" class="real-tors__img">
            <div class="real-tors__details">
                <h4 class="heading-4 heading-4--light">Topy Ramsey</h4>
                <p class="real-tors__details--sold">98 house sold</p>
            </div>
        </div>
    </div>
    <section class="features">
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-global"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">World's best luxury homes</h4>
            <p class="feature__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis unde
                repellendus consequatur laudantium excepturi consequatur laudantium adipisicing. </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-trophy"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Only the best properties</h4>
            <p class="feature__text">sit amet consectetur adipisicing elit ipsum, dolor. Perspiciatis unde
                repellendus consequatur laudantium excepturi. </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">All home sin in top location</h4>
            <p class="feature__text">Perspiciatis unde lorem ipsum, dolor sit amet consectetur adipisicing elit.
                repellendus consequatur laudantium unde lorem ipsum, dolor excepturi. </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">New home in one week</h4>
            <p class="feature__text">Amet lorem ipsum, dolor sit consectetur adipisicing elit. Perspiciatis unde
                repellendus consequatur. </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-presentation"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Top 1% realtors</h4>
            <p class="feature__text">Repellendus consequatur lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Perspiciatis unde
                laudantium. </p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-lock"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Secure payments</h4>
            <p class="feature__text">Dolor sit amet consectetur adipisicing elit.consequatur Perspiciatis unde
                repellendus consequatur lorem ipsum, laudantium excepturi. </p>
        </div>
    </section>
    <div class="story__pic">
        <img src="../../assets/img/nexter/story-1.jpeg" alt="photo" class="story__pic--1">
        <img src="../../assets/img/nexter/story-2.jpeg" alt="photo" class="story__pic--2">
    </div>
    <div class="story__content">
        <h3 class="heading-3 mb-1">happy customers</h3>
        <h2 class="heading-2 heading-2--dark mb-1">&ldquo;the best decision in our lives&rdquo;</h2>
        <p class="story__text mb-2">Tera ipsum dolor sit, amet consectetur adipisicing elit. Ducimus beatae dolorum
            ratione
            alias perferendis magnam architecto sequi fuga corrupti? Expedita sequi quod quos, quas in non alias
            excepturi quasi. Laudantium.</p>
        <button class="btn">find your own home</button>
    </div>
    <section class="home">
        <div class="home__card">
            <img src="../../assets/img/nexter/house-1.jpeg" alt="home" class="home__card--img">
            <svg class="home__card--heart">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__card--name">Beautiful familiy house</h5>
            <div class="home__card--location">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__card--rooms">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__card--area">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__card--price">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__card--btn">contact realtor</button>
        </div>
        <div class="home__card">
            <img src="../../assets/img/nexter/house-2.jpeg" alt="home" class="home__card--img">
            <svg class="home__card--heart">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__card--name">Modern glass villa</h5>
            <div class="home__card--location">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Canada</p>
            </div>
            <div class="home__card--rooms">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>6 rooms</p>
            </div>
            <div class="home__card--area">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-expand"></use>
                </svg>
                <p>420 m<sup>2</sup></p>
            </div>
            <div class="home__card--price">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,600,000</p>
            </div>
            <button class="btn home__card--btn">contact realtor</button>
        </div>
        <div class="home__card">
            <img src="../../assets/img/nexter/house-4.jpeg" alt="home" class="home__card--img">
            <svg class="home__card--heart">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__card--name">Cozy country house</h5>
            <div class="home__card--location">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>UK</p>
            </div>
            <div class="home__card--rooms">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>3 rooms</p>
            </div>
            <div class="home__card--area">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-expand"></use>
                </svg>
                <p>260 m<sup>2</sup></p>
            </div>
            <div class="home__card--price">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
                </svg>
                <p>$900,000</p>
            </div>
            <button class="btn home__card--btn">contact realtor</button>
        </div>
        <div class="home__card">
            <img src="../../assets/img/nexter/house-3.jpeg" alt="home" class="home__card--img">
            <svg class="home__card--heart">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__card--name">Large rustical villa</h5>
            <div class="home__card--location">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Portugal</p>
            </div>
            <div class="home__card--rooms">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>6 rooms</p>
            </div>
            <div class="home__card--area">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-expand"></use>
                </svg>
                <p>470 m<sup>2</sup></p>
            </div>
            <div class="home__card--price">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
                </svg>
                <p>1,850,000</p>
            </div>
            <button class="btn home__card--btn">contact realtor</button>
        </div>
        <div class="home__card">
            <img src="../../assets/img/nexter/house-5.jpeg" alt="home" class="home__card--img">
            <svg class="home__card--heart">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__card--name">Majestic palace house</h5>
            <div class="home__card--location">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Germany</p>
            </div>
            <div class="home__card--rooms">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>12 rooms</p>
            </div>
            <div class="home__card--area">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-expand"></use>
                </svg>
                <p>2950 m<sup>2</sup></p>
            </div>
            <div class="home__card--price">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
                </svg>
                <p>$6,200,000</p>
            </div>
            <button class="btn home__card--btn">contact realtor</button>
        </div>
        <div class="home__card">
            <img src="../../assets/img/nexter/house-6.jpeg" alt="home" class="home__card--img">
            <svg class="home__card--heart">
                <use xlink:href="../../assets/img/nexter/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__card--name">Modern familiy apartment</h5>
            <div class="home__card--location">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Italy</p>
            </div>
            <div class="home__card--rooms">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>2 rooms</p>
            </div>
            <div class="home__card--area">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-expand"></use>
                </svg>
                <p>90 m<sup>2</sup></p>
            </div>
            <div class="home__card--price">
                <svg>
                    <use xlink:href="../../assets/img/nexter/sprite.svg#icon-key"></use>
                </svg>
                <p>320,000</p>
            </div>
            <button class="btn home__card--btn">contact realtor</button>
        </div>
    </section>
    <section class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="../../assets/img/nexter/gal-1.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="../../assets/img/nexter/gal-2.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="../../assets/img/nexter/gal-3.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="../../assets/img/nexter/gal-4.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="../../assets/img/nexter/gal-5.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="../../assets/img/nexter/gal-6.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--7">
            <img src="../../assets/img/nexter/gal-7.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--8">
            <img src="../../assets/img/nexter/gal-8.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--9">
            <img src="../../assets/img/nexter/gal-9.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--10">
            <img src="../../assets/img/nexter/gal-10.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--11">
            <img src="../../assets/img/nexter/gal-11.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--12">
            <img src="../../assets/img/nexter/gal-12.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--13">
            <img src="../../assets/img/nexter/gal-13.jpeg" alt="photo" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--14">
            <img src="../../assets/img/nexter/gal-14.jpeg" alt="photo" class="gallery__img">
        </figure>
    </section>
    <footer class="footer">
        <ul class="footer__links">
            <li class="footer__links--item">Find your dream home</li>
            <li class="footer__links--item">Request proposal</li>
            <li class="footer__links--item">Download home palnner</li>
            <li class="footer__links--item">Contact us</li>
            <li class="footer__links--item">Submit your property</li>
            <li class="footer__links--item">Work with us</li>
        </ul>
        <p class="footer__copy">Copyright &copy; 2020 by ibrahem reiad feel free to use this project</p>
    </footer>
</div>