<section class="tours">
    <div class="center-text m-b-4">
        <h2 class="heading-secound">
            Most popular tours
        </h2>
    </div>
    <div class="row">
        <div class="row__1of3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__img card__img-1"></div>
                    <h4 class="card__heading">
                        <span class="card__heading--span card__heading--span-1">The sea explorer</span>
                    </h4>
                    <div class="card__list">
                        <ul>
                            <li>3 days tours</li>
                            <li>up to 30 people</li>
                            <li>2 tour guides</li>
                            <li>sleep in a crazy hotels</li>
                            <li>defficulty: eazy</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price--box">
                            <p class="card__price--only">only</p>
                            <p class="card__price--value">$299</p>
                        </div>
                        <a href="#" class="btn btn--white">book now!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row__1of3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__img card__img-2"></div>
                    <h4 class="card__heading">
                        <span class="card__heading--span card__heading--span-2">The forst hiker</span>
                    </h4>
                    <div class="card__list">
                        <ul>
                            <li>7 days tours</li>
                            <li>up to 40 people</li>
                            <li>6 tour guides</li>
                            <li>sleep in a provided tents</li>
                            <li>defficulty: eazy</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <div class="card__price--box">
                            <p class="card__price--only">only</p>
                            <p class="card__price--value">$499</p>
                        </div>
                        <a href="#" class="btn btn--white">book now!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row__1of3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__img card__img-3"></div>
                    <h4 class="card__heading">
                        <span class="card__heading--span card__heading--span-3">The snow adventurer</span>
                    </h4>
                    <div class="card__list">
                        <ul>
                            <li>5 days tours</li>
                            <li>up to 15 people</li>
                            <li>3 tour guides</li>
                            <li>sleep in a provided tents</li>
                            <li>defficulty: hard</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <div class="card__price--box">
                            <p class="card__price--only">only</p>
                            <p class="card__price--value">$899</p>
                        </div>
                        <a href="#" class="btn btn--white">book now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn--green">discover all tours</a>
</section>