/* You can add global styles to this file, and also import other style files */
@import './app/scss/abstracts/variables';
@import './app/scss/abstracts/mixins';
@import './app/scss/base/base2';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include responsive(sm-phone) {
        font-size: 45%;
    }

    @include responsive(phone) {
        font-size: 45%;
    }

    @include responsive(sm-tab) {
        font-size: 50%;
    }

    @include responsive(lg-tab) {
        font-size: 56.5%;
    }
}

body {
    font-family: 'lato', 'Bellota', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    @include responsive(lg-desktop) {
        padding: 6rem;
    }

    @include responsive(sm-tab) {
        padding: 0;
    }

    @include responsive(phone) {
        padding: 0;
    }

    @include responsive(sm-phone) {
        padding: 0;
    }

}